<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acat.mapper.CountMapper">
	<update id="updateCount" parameterType="count">
		update download_count set count=#{count},file_id=#{file_id} where id=#{id}
	</update>
	
	<select id="findCountById" parameterType="int" resultType="int">
		select count.count from download_count count inner join download_file file on count.file_id=file.id and file.id=#{id}
	</select>
</mapper>